<div class="homeDiv">
	<div class="list list-inset">
  	<label class="item item-input">
    	<input type="text" placeholder="Enter Blood Group" ng-model="searchVal"><a ng-href="#/search/{{searchVal}}">Search</a>
  	</label>
	</div>
	<div class="list list-inset" style="text-align: center;">
  	<p>or</p>
	</div>
	<div class="list list-inset">
  	<button style="border-color:transparent;background-color:#387ef5;color:#fff;width:100%;padding:1%;"><a ng-href="#/add" style="color:#fff;">Register</a></button>
	</div>
</div>
